<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../../lib/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap-table.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
		<style type="text/css">
			.layui-border-box {
				width: 100% !important;
				margin: 0;
			}
			
			.layui-table-body {
				background: #FFFFFF;
			}
			
			
			.laytable-cell-1-baseNo {
				width: auto !important;
			}
			
			.laytable-cell-1-caozuio {
				max-width: 150px !important;
			}
			
			.layui-form-label {
				width: 192px;
				font-size: 13px
			}
			
			.fromCont .layui-elem-field legend {
				font-size: 15px;
			}
			
			.fromCont .layui-form-item .layui-input-inline {
				width: 239px
			}
		</style>
	</head>

	<body class="clearfix">
		<div id="header">

		</div>

		<div class="content">
			<div class="left_silde layui-col-xs1">
				<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="width: 100%;">
					<li class="layui-nav-item  ">
						<a href="equipment.html">设备信息</a>
					</li>
					<li class="layui-nav-item ">
						<a href="updata.html">设备添加</a>
					</li>
					<li class="layui-nav-item layui-nav-itemed">
						<a href="amendment.html">基站配置</a>
					</li>
				</ul>
			</div>
			<div id=" " class="min layui-col-xs11">
				<div class="minCont">
					<div class=" body-content" style="padding-top:50px;">
						<div class="panel panel-default">
							<div class="panel-heading">基站分组信息</div>
							<table id="test" lay-filter="test"></table>
							<script type="text/html" id="demo">
								<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">配置校准值</a>
							</script>
						</div>

					</div>
				</div>
			</div>
		</div>
		</div>
		<style type="text/css">
			#table tbody tr td {
				vertical-align: middle;
			}
			.tagGoord input{
				width: 30%;
				display: inline-block;
			}
			.tagGoordCont{
				width: 350px !important;
			}
		</style>
		<script src=" ../../../public/js/jquery.js"></script>
		<script src="../../../public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../public/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
		<script src=" ../../../public/layuis/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../red/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script src=" ../../../public/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/compensation.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var datas = [];
			var rows;
			// 去重
			function uniq(array) {
				var temp = []; //一个新的临时数组
				for(var i = 0; i < array.length; i++) {
					if(temp.indexOf(array[i]) == -1) {
						temp.push(array[i]);
					}
				}
				return temp;
			}
			// 数组中每个元素出现的次数
			function getindex(str) {
				var map = {};
				for(var i = 0; i < str.length; i++) {
					var s = str[i];
					var r = map[s];
					if(r) {
						map[s] += 1;
					} else {
						map[s] = 1;
					}
				}
				return JSON.stringify(map)
			}
			var anchors = []

			function groupList(data) {
				var groupArr = []
				var anchorArr = []
				for(var a = 0; a < data.length; a++) {
					groupArr.push(data[a].groupCode)
					anchorArr.push(data[a].baseNo)
					groupArr.sort()
				}
				anchorArr = getindex(groupArr)
				anchorArr = eval("(" + anchorArr + ")");
				groupArr = uniq(groupArr)
				for(var i = 0; i < groupArr.length; i++) {

					var infos = {
						"id": i,
						"group": groupArr[i],
						"baseNo": anchorArr[groupArr[i]]
					}
					anchors.push(infos)
				}
				return anchors

			}

			layui.use('table', function() {
				var table = layui.table;
				table.render({
					elem: '#test',
					url: '/api/base/getall',
					toolbar: '#toolbarDemo',
					request: {
						pageName: 'currentPage' //页码的参数名称，默认：page
							,
						limitName: 'pageSize' //每页数据量的参数名，默认：limit
					},
					parseData: function(res) { //res 即为原始返回的数据
						rows=res.pagedData.datas
						console.log(rows)
						var row= groupList(rows)
						if(res.success == true) {
							res.success = 0
						};
						return {
							"code": res.success, //解析接口状态
							"msg": res.message, //解析提示文本
							"count": res.pagedData.totalCount, //解析数据长度
							"data": row //解析数据列表
						};
					},
					done: function(res, curr, count) {
					},
					page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
						layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
							,
						curr: 1 //设定初始在第 5 页
							,
						groups: 1 //只显示 1 个连续页码
							,
						first: false //不显示首页
							,
						last: false //不显示尾页
					},
					title: '用户数据表',
					totalRow: true,
					cols: [
						[{
								field: 'id',
								title: '分组id',
								// width: "8%",
								templet: '#usernameid'
							}, {
								field: 'group',
								title: '分组编号',
								// width: "16%",
								templet: '#group',
							}, {
								field: 'baseNo',
								title: '基站数量',
								// width: "16%",
								templet: '#baseNo',
							},
							{
								fixed: 'right',
								title: '操作',
								toolbar: '#demo'
							}
						]
					],
					page: true
				});

				table.on('tool(test)', function(obj) {
					var data = obj.data;
					if(obj.event === 'edit') {
						EditBook(data.group,data)
					}
				});
				//工具栏事件

			});

			function EditBook(id,data) {
				alert("是否编辑设备：组号" + id);
				openConfig(id,data)
			}

			function openConfig(id,data) {
				var baselist=[]
				for(var a=0;a<rows.length;a++){
					if(rows[a].groupCode==id){
						baselist.push(rows[a])
					}
				}
				layer.open({
					type: 1,
					title: "配置校准者",
					offset: "60px" //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
						,
					resize: true,
					moveOut: true,
					anim: 5,
					Boolean: true,
					id: 'layerDemo' //防止重复弹出
						,
					area: ['1400px', '750px'],
					content: `
	                    <div class=" body-content" style="padding:30px">
	                        <div class="panel panel-default">
	                            <div class="panel-heading">选择基站</div>
	                            <table id="tesst" ></table>
	                        </div>
	                        <div class="fromCont" style="padding:13px;background:#FFFFFF;">
	                        <blockquote class="layui-elem-quote layui-text">
	                            校准者误差配置需要参数：基站坐标，标签实际坐标，标签距离基站距离(自动计算)，平均时间戳
	                        </blockquote>
	                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	                            <legend>输入标签参数</legend>
	                        </fieldset>
	                        <form class="layui-form" action="">
	                            <div class="layui-form-item">
	                                <div class="layui-inline">
	                                    <label class="layui-form-label">标签编号</label>
	                                    <div class="layui-input-inline">
	                                    	<input type="tel" value="00000004" autocomplete="off" class="layui-input tagName">
	                                    </div>
	                                </div> 
	                                <div class="layui-inline tagGoord">
	                                    <label class="layui-form-label">标签实际坐标</label>
	                                    <div class="layui-input-inline tagGoordCont">
	                                    	<input type="tel" value="请输入X坐标"  autocomplete="off" class="layui-input tagCoordX">
	                                    	<input type="tel" value="请输入Y坐标"  autocomplete="off" class="layui-input tagCoordY">
	                                    	<input type="tel" value="请输入Z坐标"  autocomplete="off" class="layui-input tagCoordZ">
	                                    </div>
	                                </div> 
	                            </div>
	                            <div class="layui-form-item ancharmCm" style="display:none" >
	                               
	                            </div>
	                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	                                    <legend>平均时间戳</legend>
	                                </fieldset>
	                            <div class="layui-form-item ancharmTime">
	                                   
	                            </div>
	                        </form>
	                    </div>
					 `,
					success: function(layero, index) {
						for(var a=0;a<baselist.length;a++){
							var htmls1=`
					 			<div class="layui-inline">
	                                    <label class="layui-form-label">距离基站${baselist[a].baseNo}距离</label>
	                                    <div class="layui-input-inline">
	                                    <input type="tel" name="${baselist[a].baseNo}" autocomplete="off" class="layui-input">
	                                    </div>
	                             </div>
					 		`
					 		var htnls2=`
					 				<div class="layui-inline">
	                                        <label class="layui-form-label">${baselist[a].baseNo}基站时间戳</label>
	                                        <div class="layui-input-inline">
	                                        	<input type="tel" name="${baselist[a].baseNo}" autocomplete="off" class="layui-input">
	                                        </div>
	                                    </div>
					 		`
					 		$(".ancharmCm").append(htmls1);
					 		$(".ancharmTime").append(htnls2);
						}
						layui.use('table', function() {
							var table = layui.table;
							table.render({
								elem: '#tesst',
								loading: false,
								cols: [
									[{
										type: 'checkbox'
									}, {
										field: 'id',
										width: 100,
										title: 'ID',
										sort: true
									}, {
										field: 'baseNo',
										title: '基站编号'
									}, {
										field: 'name',
										title: '基站名称'
									}, {
										field: 'main',
										title: '主基站'
									}, {
										field: 'ip',
										title: '基站IP'
									}]
								],
								data: baselist
							});
						});

					},
					btn: ['计算', '重置参数', '关闭'],
					btnAlign: 'r' //按钮居中
						,
					shade: 0 //不显示遮罩
						,
					yes: function(index, layero) {
						var anchordata=[], // 获取基站的坐标
							Timeinput=[],  // 获取标签到基站的距离
							tagCoord,
							Time=[],
							tagName;
						tagCoord={
							x:$(".tagGoordX").val(),
							y:$(".tagGoordY").val(),
							z:$(".tagGoordZ").val(),
						}
						tagName=$('.tagName').val()
						for(var a=0;a<baselist.length;a++){
							anchordata.push(
								{
									x:baselist[a].coordx,
									y:baselist[a].coordy,
									z:baselist[a].coordz,
									main:baselist[a].main,
									name:baselist[a].baseNo
								}
							)
						}
						var TimeinputDom=$(".ancharmCm input");
						for(var a=0;a<TimeinputDom.length;a++){
							Timeinput[TimeinputDom[a].name]={
								Cm:TimeinputDom.val()
							}
						}
						var anchorTime=$(".ancharmTime input");
						for(var a=0;a<anchorTime.length;a++){
							Time.push({
								name:anchorTime[a].name,
								time:anchorTime[a].value,
								main:baselist[a].main,
							})
						}
						var listData={
							anchorCoord:anchordata,
							inputCm:Timeinput,
							tagCoord:tagCoord,
							tagName:tagName,
							Time:Time
						}
						compensation.init(listData);
						var timecorrectionvalue=compensation.callback();
						var s={
							
						}
						var urls="/api/base/updateBase"
						for(var a=0;a<baselist.length;a++){
							if(baselist[a].main==1){
								var timeCorrectionValue=baselist[a].timeCorrectionValue;
								timeCorrectionValue=timeCorrectionValue.split(",");
								timeCorrectionValue.push(timecorrectionvalue[0].value)
								timeCorrectionValue=timeCorrectionValue.toString()
								baselist[a].timeCorrectionValue=timeCorrectionValue;
								postAjax(urls,baselist[a])
							}else{
								for(var i=0;i<timecorrectionvalue.length;i++){
									if(baselist[a].main!=1 && timecorrectionvalue[i].main!=1){
										if(baselist[a].baseNo==timecorrectionvalue[i].name){
											var timeCorrectionValue=baselist[a].timeCorrectionValue;
											timeCorrectionValue=timeCorrectionValue.split(",");
											timeCorrectionValue.push(timecorrectionvalue[i].value)
											timeCorrectionValue=timeCorrectionValue.toString()
											baselist[a].timeCorrectionValue=timeCorrectionValue;
											postAjax(urls,baselist[a])
										}
									}
								}
								
							}
						}	
					},
					btn2: function(index, layero) {
						layer.close(index)
					},
					
				});
			}
			function postAjax(urls, data) {
				var contentType = "application/json;charset=UTF-8";
				console.log(data)
				var data=JSON.stringify(data)
				$.ajax({
					type: "post",
					url: urls,
					async: true,
					data: data,
					contentType: contentType,
					success: function(red) {
						var cobackInfo = red.success;
						var ids=red.resultMap.id;
						if(cobackInfo == true) {
							var ii = layer.load();
							//此处用setTimeout演示ajax的回调
							setTimeout(function() {
								layer.close(ii);
								layer.msg('修正值添加成功');
//								location.reload();
//								window.location.href="./anchornumInfo.html?id="+ids
							}, 1000);

						}
					},
					error: function() {
						console.log("err")
						var ii = layer.load();
						//此处用setTimeout演示ajax的回调
						setTimeout(function() {
							layer.close(ii);
							layer.msg('修正值添加失败，请重新填写');
//							location.reload();
						}, 1000);
					}
				});
			}
		</script>
	</body>

</html>