<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../public/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../../public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
		<style type="text/css">
			.layui-border-box {
				width: 100% !important;
				margin: 0;
			}
			
			.layui-table-body {
				background: #FFFFFF;
			}
			.left_silde>ul, #fengMap{
				    min-height: 1210px;
			}
			.formCont .layui-form-label{
				    width: 16%;
			}
		</style>
	</head>

	<body class="clearfix">
			<div id="header">
			
		</div>
		
		<div class="content">
			<div class="left_silde layui-col-xs1">
				<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="width: 100%;">
					<li class="layui-nav-item ">
						<a href="equipment.html">设备信息</a>
						<!--<dl class="layui-nav-child">
							<dd >
								<a href="javascript:;">常驻人员信息</a>
							</dd>
							<dd class="layui-this">
								<a href="javascript:;">临时信息</a>
							</dd>
							
						</dl>-->
					</li>
					<li class="layui-nav-item layui-nav-itemed">
						<a href="addEqu.html">设备添加</a>
						<!--<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;">添加人员</a>
							</dd>
							<dd>
								<a href="javascript:;">添加临时人员</a>
							</dd>
							
						</dl>-->
					</li>
				</ul>
			</div>
			<div id=" " class="min layui-col-xs11">
				<div class="minCont">
					<div class="listIcon formCont">
						<form class="layui-form" action="">
							<div class="flist" style="margin-bottom: 3%;">
								<h3 style="color: #009688;">更改设备模式开启模式</h3>
							</div>
							<div class="layui-form-item">
							  <div class="layui-inline" style="width: 100%;">
							    <label class="layui-form-label" style="    width: 9.7%;">选择设备</label>
							    <div class="layui-input-inline" style="width: 25%;">
							      <select name="quiz1">
							        <option value="">设备A1</option>
							        <option value="办公室" >设备A2</option>
							        <option value="办公室12">设备A3</option>
							        <option value="办公室3">设备A4</option>
							      </select>
							    </div>
							  </div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
								    <label class="layui-form-label">人员靠近报警时间段设置：</label>
								    <div class="layui-input-block" style="margin-top: 10px;">
								      <input type="radio" name="bj1" value="开启" title="开启" checked="">
								      <input type="radio" name="bj1" value="关闭" title="关闭">
								     
								    </div>
								</div>
							</div>		
							<div class="layui-form-item">
								<div class="layui-inline">
								    <label class="layui-form-label">越界报警设置：</label>
								    <div class="layui-input-block" style="margin-top: 10px;">
								      <input type="radio" name="bj2" value="开启" title="开启" checked="">
								      <input type="radio" name="bj2" value="关闭" title="关闭">
								     
								    </div>
								</div>
							</div>	
							<div class="layui-form-item">
								<div class="layui-inline">
								    <label class="layui-form-label">设备破坏：</label>
								    <div class="layui-input-block" style="margin-top: 10px;">
								      <input type="radio" name="bj3" value="开启" title="开启" checked="">
								      <input type="radio" name="bj3" value="关闭" title="关闭">
								     
								    </div>
								</div>
							</div>	
							<div class="layui-form-item">
								<div class="layui-inline">
								    <label class="layui-form-label">设备故障报警设置：</label>
								    <div class="layui-input-block" style="margin-top: 10px;">
								      <input type="radio" name="bj4" value="开启" title="开启" checked="">
								      <input type="radio" name="bj4" value="关闭" title="关闭">
								     
								    </div>
								</div>
							</div>		
							<div class="layui-form-item">
								<div class="layui-inline">
								    <label class="layui-form-label">摄像机抓拍图片设置：</label>
								    <div class="layui-input-block" style="margin-top: 10px;">
								      <input type="radio" name="bj5" value="开启" title="开启" checked="">
								      <input type="radio" name="bj5" value="关闭" title="关闭">
								     
								    </div>
								</div>
							</div>			
							
							<div class="layui-form-item">
							  <div class="layui-inline">
									<label class="layui-form-label">管理员电话：</label>
									<div class="layui-input-inline">
										<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
								    <label class="layui-form-label">上传数据类型：</label>
								    <div class="layui-input-block" style="margin-top: 10px;">
								      <input type="radio" name="bj6" value="开启" title="开启" checked="">
								      <input type="radio" name="bj6" value="关闭" title="关闭">
								     
								    </div>
								</div>
							</div>	
							
							<div class="layui-form-item" style="margin-top: 60px;">
							    <div class="layui-input-block">
							      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
							      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
							    </div>
 				 			</div>
 				 			
						</form>
					</div>

				</div>
			</div>
		</div>
		<script src=" ../../../public/js/jquery.js"></script>
		<script src="../../red/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script src=" ../../../public/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>