<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../public/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../../public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
		<style type="text/css">
			.layui-border-box {
				width: 100% !important;
				margin: 0;
			}
			
			.layui-table-body {
				background: #FFFFFF;
			}
			.laytable-cell-1-ssqu,{
				width: 80px !important;
			}
			.laytable-cell-1-occupation{
				
			}
			.laytable-cell-1-230{
				width: 100px !important;
			}
		</style>
	</head>

	<body class="clearfix">
			<div id="header">
			
		</div>
		
		<div class="content">
			<div class="left_silde layui-col-xs1">
				<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="width: 100%;">
					<li class="layui-nav-item ">
						<a href="equipment.html">设备信息</a>
						<!--<dl class="layui-nav-child">
							<dd >
								<a href="javascript:;">常驻人员信息</a>
							</dd>
							<dd class="layui-this">
								<a href="javascript:;">临时信息</a>
							</dd>
							
						</dl>-->
					</li>
					<li class="layui-nav-item layui-nav-itemed">
						<a href="addEqu.html">设备添加</a>
						<!--<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;">添加人员</a>
							</dd>
							<dd>
								<a href="javascript:;">添加临时人员</a>
							</dd>
							
						</dl>-->
					</li>
					<!--<li class="layui-nav-item">
						<a href="javascript:;"></a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;">管理员权限</a>
					</li>-->
				</ul>
			</div>
			<div id=" " class="min layui-col-xs11">
				<div class="minCont">
					<div class="layui-btn-group demoTable" style="padding-bottom:0;">
						<button class="layui-btn">添加信息</button>
						<button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
						<button class="layui-btn" data-type="isAll">验证是否全选</button>
					</div>
					<table class="layui-hide" id="test"></table>
					<script type="text/html" id="barDemo">
						<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">设备详情及设置</a>						
					</script>
				</div>
			</div>
		</div>
		<script src=" ../../../public/js/jquery.js"></script>
		<script src="../../red/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script src=" ../../../public/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use('table', function() {
				var table = layui.table,
					form = layui.form;
				table.render({
					elem: '#test',
					url: '/demo/table/user/',
					cellMinWidth: 80,
					cols: [
						[ {
								type: 'checkbox'
							}
							, {
								field: 'username',
								title: '设备编号',
								width: 110,
								templet: '#usernameTpl'
							}, {
								field: 'sex',
								title: '设备名称',
								width: 110,
								templet: '#switchTpl',
								unresize: true
							}, {
								field: 'department',
								title: '设备坐标',
								Width: 110,
								templet: '#usernameTpl'
								
							}, {
								field: 'occupation',
								title: '安装地址',
								maxWidth: 110,
								templet: '#usernameTpl'
								
							}, {
								field: 'classT',
								title: 'IP地址	',
								maxWidth: 80,
								
								templet: '#usernameTpl'
							},  {
								field: 'Tel',
								title: '上传数据类型',
								Width: 80,
								templet: '#usernameTpl'
							},  {
								field: '230',
								title: '是否工作',
								Width: 80,
								templet: '#usernameTpl'
								
							},  {
								field: 'ssqu',
								title: '掉帧频率',
								Width: 20,
								templet: '#usernameTpl'
								
							}, {
								field: 'ssqu',
								title: '所属区域',
								Width: 20,
								templet: '#usernameTpl'
								
							}, {
								field: 'caozuio',
								 Width:80,
								 align:'center', 
								 title: '操作',
								 toolbar: '#barDemo'
							}
						
						]
					],
					page: true
				});

				//监听性别操作
				form.on('switch(sexDemo)', function(obj) {
					layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
				});

				//监听锁定操作
				form.on('checkbox(lockDemo)', function(obj) {
					layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
				});
				table.on('tool(demo)', function(obj) {
					var data = obj.data;
					if(obj.event === 'detail') {
						layer.msg('ID：' + data.id + ' 的查看操作');
					} else if(obj.event === 'del') {
						layer.confirm('真的删除行么', function(index) {
							obj.del();
							layer.close(index);
						});
					} else if(obj.event === 'edit') {
						layer.alert('编辑行：<br>' + JSON.stringify(data))
					}
				});
				$('.demoTable .layui-btn').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
			});
		</script>
	</body>

</html>