<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<script type="text/javascript">
			layui.config({
				base: './'
			}).extend({
				selectN: './layui_extends/selectN',
				selectM: './layui_extends/selectM',
			}).use(['layer', 'form', 'jquery', 'selectN', 'selectM'], function() {
				$ = layui.jquery;
				var form = layui.form,
					selectN = layui.selectN,
					selectM = layui.selectM;
				//无限级分类-所有配置
				var catIns2 = selectN({
					
					elem: '#cat_ids2',//元素容器【必填】
					data: catData,//候选数据【必填】
					width: null,//设置了长度
					selected: [6, 10, 11],//默认值
					last: true,//为真只取最后一个值
					tips: '请选择',//空值项提示，可设置为数组['请选择省','请选择市','请选择县']
					filter: '',//事件过滤器，lay-filter名 不设置与选择器相同(去#.)
					name: 'cat2',//input的name 不设置与选择器相同(去#.)
					delimiter: ',',//数据分隔符
					field: {
						idName: 'id',
						titleName: 'name',
						childName: 'children'
					}//数据的键名

					//表单区分 form.render(type, filter); 为class="layui-form" 所在元素的 lay-filter="" 的值 
					,
					formFilter: null

				});
				form.on('submit(demo)', function(data) {
					console.log('catIns1 当前选中的值名：', catIns1.selected);
					console.log('catIns1 当前选中的值：', catIns1.values);
					console.log('catIns1 当前选中的名：', catIns1.names);
					console.log('catIns1 当前最后一个选中值：', catIns1.lastValue);
					console.log('catIns1 当前最后一个选中名：', catIns1.lastName);
					console.log('catIns1 当前最后一个是否已选：', catIns1.isSelected);
					console.log('');

					console.log('tagIns1 当前选中的值名：', tagIns1.selected);
					console.log('tagIns1 当前选中的值：', tagIns1.values);
					console.log('tagIns1 当前选中的名：', tagIns1.names);

					console.log('');

					var formData = data.field;
					console.log('表单对象：', formData);
				})

				//通过js动态选择
				$('.set1').click(function() {
					catIns1.set([6, 10]);

				});
				//通过js动态选择
				$('.set2').click(function() {
					tagIns1.set([12, 13, 14, 15]);
				});
			});
		</script>
	</body>

</html>