<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../public/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../../public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
		<style type="text/css">
			.layui-border-box {
				width: 100% !important;
				margin: 0;
			}
			
			.layui-table-body {
				background: #FFFFFF;
			}
			
			.auth-status i {
				cursor: pointer;
				width: 18px;
				display: inline-block;
				vertical-align: -webkit-baseline-middle;
				margin-right: 5px;
			}
			
			.auth-single>div {
				margin-left: 3%;
				padding-left: 17px;
			}
			
			.auth-status {
				padding-left: 23px;
			}
		</style>
	</head>

	<body class="clearfix">
		<div id="header">

		</div>

		<div class="content">
			<div class="left_silde layui-col-xs1">
				<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="width: 100%;">
					<li class="layui-nav-item ">
						<a href="admin.html">管理员</a>
					</li>

					<li class="layui-nav-item ">
						<a href="addAdmin.html">增加人员</a>
					</li>
					<li class="layui-nav-item layui-nav-itemed">
						<a href="Permission.html">权限管理</a>
					</li>
				</ul>
			</div>
			<div id=" " class="min layui-col-xs11">
				<div class="minCont">
					<div class="listIcon formCont">
						<form class="layui-form" action="">
							<div class="flist" style="margin-bottom: 3%;">
								<h3 style="color: #009688;">管理员权限</h3>
							</div>
							<div class="layui-form-item">
								<div class="layui-form-item">
									<div class="layui-inline" style="width: 100%;">
										<label class="layui-form-label" style="    width: 9.7%;">选择管理员：</label>
										<div class="layui-input-inline" style="width: 25%;">
											<select name="adminName" id="adminName">

											</select>
										</div>

									</div>
									<div class="layui-form-item">
										<label class="layui-form-label" style="line-height: 36px;widows: 9%;">选择权限</label>
										<div class="layui-input-block">
											<div id="LAY-auth-tree-index"></div>
										</div>
									</div>

									<div class="layui-form-item" style="margin-top: 60px;">
										<div class="layui-input-block">
											<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
											<button type="reset" class="layui-btn layui-btn-primary">重置</button>
										</div>
									</div>

						</form>
						</div>

						</div>
					</div>
				</div>

				<script src=" ../../../public/js/jquery.js"></script>
				<script src="../../red/js/header.js" type="text/javascript" charset="utf-8"></script>
				<script src=" ../../../public/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
				<script type="text/javascript">
					
				</script>
				<script type="text/javascript">
					var adminlist = null,
						departmentArr = [],
						jobarr = [],
						level = [],
						nameslist = [];
					$(function() {
						var urls = "/api/admin/getall",
							type = "get",
							data = {
								currentPage: 10,
								pageSize: 10
							};
						adminlist = Ajaxfun(urls, type, data, false);
						selectAdd()
					})
					function selectAdd() {
						for(var a = 0; a < adminlist.length; a++) {
							var htmls = `
					 				<option value="${adminlist[a].id}"  data-info=${adminlist[a]} >${adminlist[a].adminName}</option>
					 			`
							$("#adminName").append(htmls)
						}
						layui.use('form', function() {
							var form = layui.form;

							form.render('select'); //刷新select选择框渲染
							//各种基于事件的操作，下面会有进一步介绍
						});
					}

					function Ajaxfun(url, type, data, async) {
						var datalist;
						$.ajax({
							type: type,
							url: url,
							async: true,
							data: data,
							async: async,
							success: function(data) {
								datalist = data.pagedData.datas;
							}
						});
						return datalist
					}

					function changeSelect(ifDate, id) {

					}
					// 注：extends/为authtree.js的存放路径
					layui.config({
						base: '../../../public/extends/',
					}).extend({
						authtree: 'authtree',
					});

					layui.use(['jquery', 'authtree', 'form'], function() {
						var $ = layui.jquery;
						var authtree = layui.authtree;
						var form = layui.form;
						form.on('select(department)', function(data) {
							var setopin = $(data.elem).children()
							for(var a = 0; a < setopin.length; a++) {
								if($(setopin[a]).val() == data.value) {
									changeSelect($(setopin[a]).data("job"), 1)
								}
							}
						});
						$.ajax({
							url: 'tree.json',
							dataType: 'json',
							success: function(data) {
								// 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
								authtree.render('#LAY-auth-tree-index', data.data.trees, {
									inputname: 'authids[]',
									layfilter: 'lay-check-auth',
									openall: false
								});

								// 监听自定义lay-filter选中状态，PS:layui现在不支持多次监听，所以扩展里边只能改变触发逻辑，然后引起了事件冒泡延迟的BUG，要是谁有好的建议可以反馈我
								form.on('checkbox(lay-check-auth)', function(data) {
									// 注意这里：需要等待事件冒泡完成，不然获取叶子节点不准确。
									setTimeout(function() {
										// 获取选中的叶子节点
										var leaf = authtree.getLeaf('#LAY-auth-tree-index');
										console.log(leaf);
									}, 100);
								});
								form.on('submit(demo1)', function(data) {
									var Dat = new Date();
									var timestamp = new Date().getTime();
									var root = data.field
									var id = data.field.adminName;
									var dataif;
									var contentType = "application/json;charset=UTF-8";
									for(var a = 0; a < adminlist.length; a++) {
										if(adminlist[a].id == id) {
											dataif = adminlist[a]
										}
									}
									dataif.updateTime=timestamp;
									dataif.role = data.field;
									dataif = JSON.stringify(dataif)
									$.ajax({
										type: "post",
										url: "/api/admin/updateAdmin",
										async: true,
										data: dataif,
										contentType: contentType,
										success: function(data) {
											var ii = layer.load();
											//此处用setTimeout演示ajax的回调
											setTimeout(function() {
												layer.close(ii);
												layer.msg('权限添加成功');
												$(window).scrollTop(0);
											}, 1000);
											setTimeout(function() {
												location.reload();
											}, 2000)
										}
									});
									return false;
								});
							}
						})
					});
				</script>
	</body>

</html>