<div style="position: relative; height: 100%" ref="table">
    <el-steps :active="progress" :class="$style['tool-bar']" simple>
        <!-- <el-step title="地图设置" icon="el-icon-location-information"></el-step> -->
        <el-step title="添加基站" icon="el-icon-plus"></el-step>
        <el-step title="提交分组" icon="el-icon-upload"></el-step>
    </el-steps>

    <template v-if="progress === 0">
        <el-card :class="$style.tool">
            <div style="margin-bottom: 10px">
                <span style="margin-right: -40px">选择地图</span>
                <map-select style="margin-left: 50px" @selectmap="selectMap"></map-select>
            </div>
            <div :class="$style.btn">
                <el-button @click="next" type="primary">
                    下一步
                </el-button>
            </div>
        </el-card>
        <div ref="map" style="height: 100%; overflow: hidden"></div>
    </template>

    <div style="padding: 5%; padding-top: 80px;" v-else>
        <template v-if="progress === 1">
            <!-- <el-page-header @back="progress--" title="返回上一步" :class="$style.back"></el-page-header> -->

            <p style="color: #e00; font-size: 24px">
                添加基站
                <span style="font-size: 16px">(已添加: {{bases.length}}) </span>
            </p>
            <el-form style="max-width: 800px" :model="form" :rules="rules" label-width="auto" ref="form">
                <el-form-item label="基站名称" required prop="name">
                    <el-input v-model="form.name" placeholder="请输入基站名称"></el-input>
                </el-form-item>
                <el-form-item label="基站编号" required prop="baseNo">
                    <el-input v-model="form.baseNo" placeholder="请输入基站编号"></el-input>
                </el-form-item>
                <el-form-item label="基站组号" required prop="groupCode">
                    <el-input v-model.number="form.groupCode" placeholder="请输入基站组号"></el-input>
                </el-form-item>
                <el-form-item label="基站ip" required>
                    <ip-input v-model="form.ip"></ip-input>
                </el-form-item>
                <el-form-item label="基站类型" required>
                    <el-radio-group v-model="form.main">
                        <el-radio :label="0">从基站</el-radio>
                        <el-radio :label="1">主基站</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="区域" required>
                    <app-select url="/api/zone/getall" v-model="form.zone"></app-select>
                </el-form-item>
                <el-form-item label="基站位置">
                    <el-col :span="6">
                        <el-form-item prop="coordx" required>
                            <el-input v-model.number="form.coordx" placeholder="x"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :offset="1" :span="6">
                        <el-form-item prop="coordy" required>
                            <el-input v-model.number="form.coordy" placeholder="y"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :offset="1" :span="6">
                        <el-form-item prop="coordz" required>
                            <el-input v-model.number="form.coordz" placeholder="z"></el-input>
                        </el-form-item>
                    </el-col>
                </el-form-item>
                <el-form-item label="补偿值" required prop="timeCorrectionValue">
                    <el-input v-model="form.timeCorrectionValue" placeholder="请输入补偿值"></el-input>
                </el-form-item>
                <el-form-item label="算法类型" required prop="algorithmType">
                    <el-input v-model.number="form.algorithmType" placeholder="请输入算法类型"></el-input>
                </el-form-item>
                <el-form-item label="分组基站数量">
                    <el-col :span="8">
                        <el-form-item prop="groupBaseSize" required>
                            <el-input v-model.number="form.groupBaseSize" placeholder="基站总数"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :offset="2" :span="8">
                        <el-form-item prop="minBaseSize" required>
                            <el-input v-model.number="form.minBaseSize" placeholder="最小基站数"></el-input>
                        </el-form-item>
                    </el-col>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="add">
                        添加
                    </el-button>
                    <el-button type="danger" :disabled="!bases.length" @click="next">
                        下一步
                    </el-button>
                </el-form-item>
            </el-form>
        </template>

        <el-card v-else-if="progress >= 2">
            <el-page-header @back="progress--" title="返回上一步" :class="$style.back"></el-page-header>

            <!-- <div style="text-align: center; margin-bottom: 20px;">
                原点坐标: {{coord ? JSON.stringify(coord) : '{x: 0, y: 0, z: 0}'}}
            </div> -->

            <div style="text-align: center; font-weight: 700; margin-bottom: 5px">基站坐标</div>
            <app-table :max-height="maxHeight" :table-data="tableData" :col-cfg="colCfg" :total-count="totalCount"
                :op="[{ type: 'danger', name: 'del', desc: '删除' }]" @del="del" @updateData="getData" :noPrint="true"
                :isSmall="true" style="max-width: 660px; margin: 0 auto">
            </app-table>

            <div style="text-align: right">
                <el-button style="width: 200px" type="primary" @click="submit">提交分组</el-button>
            </div>
        </el-card>
    </div>
</div>