<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../../../public/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../../../public/layui/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />

	<link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap-table.css" />
	<style type="text/css">
		.layui-border-box {
			width: 100% !important;
			margin: 0;
		}

		.layui-table-body {
			background: #FFFFFF;
		}

		.laytable-cell-1-department {
			width: 80px !important;
		}

		#table tbody tr td {
			vertical-align: middle;
		}

		.layui-form-label {
			width: 150px;
		}
	</style>
</head>

<body class="clearfix">
	<div class="haderNav">
		<div id="header">

		</div>

	</div>
	<div class="content">
		<div class="left_silde layui-col-xs1">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="width: 100%;">
				<li class="layui-nav-item layui-nav-itemed">
					<a href="javascript:;">人员列表</a>
					<dl class="layui-nav-child">
						<dd class="tag">
							<a href="anchornum.html?type=1">人员信息</a>
						</dd>
						<dd class="tag">
							<a href="anchornum.html?type=2">临时人员</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">人员添加</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="addLinPerson.html?type=1">添加人员</a>
						</dd>
						<dd>
							<a href="addLinPerson.html?type=2">添加临时</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div id=" " class="min layui-col-xs11">

			<div class="minCont">

				<div class=" body-content" style="padding-top:50px;">
					<div class="panel panel-default">
						<div class="panel-heading">常驻人员</div>
						<table id="test" lay-filter="test"></table>
						<script type="text/html" id="demo">
							<a class="layui-btn layui-btn-danger layui-btn-xs deleteBtn" lay-event="del">删除标签</a>
							<a class="layui-btn layui-btn-normal layui-btn-xs configBtn" lay-event="edit">配置标签</a>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel">更改标签信息</h4>
				</div>
				<div class="modal-body">
					<form class="layui-form" action="">
						<div class="layui-form-item ">
							<div class="layui-inline">
								<label class="layui-form-label">区域/等级：</label>
								<div class="layui-input-inline">
									<select name="zone" id="zone">

									</select>
								</div>
								<div class="layui-input-inline">
									<select name="level">
										<option value="T0">职位等级</option>
										<option value="T1">T1</option>
										<option value="T2">T2</option>
										<option value="T3">T3</option>
									</select>
								</div>

							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">人员名称：</label>
								<div class="layui-input-inline">
									<input type="text" name="name" lay-verify="required" autocomplete="off"
										class="layui-input">
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" lay-submit="" lay-filter="demo1"
								id="testListAction">确定
							</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<script src=" ../../../public/js/jquery.js"></script>
	<script src="../../red/js/header.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../public/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
	<script src=" ../../../public/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>

	<script src="../public/js/table.js"></script>
</body>

</html>