<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../lib/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../../public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/style.css" />
		<style type="text/css">
			.layui-border-box {
				width: 100% !important;
				margin: 0;
			}
			.layui-table-body {
				background: #FFFFFF;
			}
			.laytable-cell-1-ssqu,{
				width: 80px !important;
			}
			.laytable-cell-1-230{
				width: 100px !important;
			}
		</style>
	</head>

	<body class="clearfix">
		<div id="header">
			
		</div>
		<div class="">
			
		</div>
		<script src="../../../public/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../red/js/header.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
