<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../../../public/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../../../public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../../../public/css/style.css" />

	</head>

	<body class="clearfix">

		<div class="content">
			<div id="divPlugin" class="plugin">
		
			</div>
		</div>
		<script src="../../../../lib/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../public/codebase/webVideoCtrl.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../public/js/codebsase.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		
		</script>
	</body>

</html>