<link rel="stylesheet" type="text/css" href="../../../public/css/media.css"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	
<script src="../../../public/js/all.js" type="text/javascript" charset="utf-8"></script>
<div class="haderNav">
	<div id="maxnav" class="clearfix maxnav">
		<div class="layui-col-xs1">
			<div class="logocont">

				<ul class="layui-nav">
					<li class="layui-nav-item">
						<a href="" style="text-align: center;">
							<!--<img src="../../../public/image/log.jpg"/>-->
							LOGO
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="layui-col-xs8" id="navlist">
			<div>
				<ul class="layui-nav">
					<li class="layui-nav-item layui-this">
						<a href="../../index/view/index.html?indexof=1">首页</a>
					</li>
					<li class="layui-nav-item ">
						<a href="../../admin/view/admin.html?indexof=2">管理员设置</a>

					</li>
					<li class="layui-nav-item  ">
						<a href="../../system/area/area.html?indexof=3">系统设置</a>
					</li>
					<!--<li class="layui-nav-item ">
						<a href="../../DataObj/vlew/index.html?indexof=4">数据展示</a>
					</li>-->
					<!--<li class="layui-nav-item ">
							<a href="../../equipment/view/equipment.html?indexof=5">监控展示</a>
						</li>-->
					<li class="layui-nav-item ">
						<a href="../../equipment/view/equipment.html?indexof=5">设备管理</a>
					</li>
					<li class="layui-nav-item  ">
						<a href="../../anchornum/view/anchornum.html?indexof=6">人员管理</a>
					</li>
					<li class="layui-nav-item">
						<a href="../../realTimemonitoring/view/realTimemonitoring.html?indexof=7">实时监控</a>
					</li>
					<li class="layui-nav-item ">
						<a href="../../fence/vlew/fence.html?indexof=8">电子围栏</a>
					</li>
					<li class="layui-nav-item ">
						<a href="../../ALARM/view/Alarm.html?indexof=9">报警信息</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="layui-col-xs3">
			<ul class="layui-nav">
				<li class="layui-nav-item">
					<a href="">控制台<span class="layui-badge">9</span></a>
				</li>
				<li class="layui-nav-item">
					<a href="">个人中心<span class="layui-badge-dot"></span></a>
				</li>
				<li class="layui-nav-item" lay-unselect="">
					<a href="javascript:;"><img src="../../../public/layui/images/face/71.gif" id="myheaderimg" class="layui-nav-img">我</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;">修改信息</a>
						</dd>
						<dd>
							<a href="javascript:;">安全管理</a>
						</dd>
						<dd>
							<a href="javascript:;">退了</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div id="xsNav" class="clearfix xsNav">
		<div id="">
			<div id="Logo" class="col-xs-3">
				<p>LOgo</p>
			</div>
			<div id="titile" class="col-xs-6">
				<p >莱恩微定位</p>
			</div>
			<div id="icon" class="col-xs-3" style="text-align: center;">
				<span id="" class="layui-icon-menu-fill layui-icon">
				</span>
				<div id="" class="xsnavList">
					<ul>
						<li class="layui-nav-item layui-this">
						<a href="../../index/view/index.html?indexof=1">首页</a>
					</li>
					<li class="layui-nav-item ">
						<a href="../../admin/view/admin.html?indexof=2">管理员设置</a>

					</li>
					<li class="layui-nav-item  ">
						<a href="../../system/area/area.html?indexof=3">系统设置</a>
					</li>
					<li class="layui-nav-item ">
						<a href="../../DataObj/vlew/index.html?indexof=4">数据展示</a>
					</li>
					<!--<li class="layui-nav-item ">
							<a href="../../equipment/view/equipment.html?indexof=5">监控展示</a>
						</li>-->
					<li class="layui-nav-item ">
						<a href="../../equipment/view/equipment.html?indexof=5">设备管理</a>
					</li>
					<li class="layui-nav-item  ">
						<a href="../../anchornum/view/anchornum.html?indexof=6">人员管理</a>
					</li>
					<li class="layui-nav-item">
						<a href="../../realTimemonitoring/view/realTimemonitoring.html?indexof=7">实时监控</a>
					</li>
					<li class="layui-nav-item ">
						<a href="../../fence/vlew/fence.html?indexof=8">电子围栏</a>
					</li>
					<li class="layui-nav-item ">
						<a href="../../ALARM/view/Alarm.html?indexof=9">报警信息</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".xsnavList").hide();
	$("#icon").click(function(){
		$(".xsnavList").slideToggle()
	})
//	$(document).ready(function(){
//		$("#tagInfo").hide()
//	})
</script>